@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0f172a; /* Slate 900 - Dark Theme */
  color: #e2e8f0; /* Slate 200 - Light Text */
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}
